@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main-header-container .main-text-on-background-container #button-shop-now {
  margin-left: 110px;
  margin-top: 9vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  border: 0.08vw solid #23281E;
  color: #23281E;
  font-size: medium;
}

.main-header-container .main-text-on-background-container #button-shop-now:hover {
  color: #fff;
  border: 0.08vw solid #8DBD61;
}

.main-header-container .main-text-on-background-container #button-shop-now span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(141, 189, 97, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.main-header-container .main-text-on-background-container #button-shop-now span:nth-child(1) {
  top: -100%;
  left: -100%;
}

.main-header-container .main-text-on-background-container #button-shop-now:hover span:nth-child(1) {
  top: 0;
  left: 0;
}

.main-header-container .main-text-on-background-container #button-shop-now span:nth-child(2) {
  bottom: -100%;
  left: -100%;
}

.main-header-container .main-text-on-background-container #button-shop-now:hover span:nth-child(2) {
  bottom: 0;
  left: 0;
}

.main-header-container .main-text-on-background-container #button-shop-now span:nth-child(3) {
  top: -100%;
  right: -100%;
}

.main-header-container .main-text-on-background-container #button-shop-now:hover span:nth-child(3) {
  top: 0;
  right: 0;
}

.main-header-container .main-text-on-background-container #button-shop-now span:nth-child(4) {
  bottom: -100%;
  right: -100%;
}

.main-header-container .main-text-on-background-container #button-shop-now:hover span:nth-child(4) {
  bottom: 0;
  right: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #23281E;
}

body.lock {
  overflow: hidden;
}

.main-header-container {
  background-size: cover;
  height: 100vh;
  background-image: url(../Resources/MainFlowers.jpg);
}

.main-header-container .top-header-container {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header-container .top-header-container .logo {
  font-size: x-large;
  font-weight: bold;
  margin-left: 3vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  cursor: default;
}

.main-header-container .top-header-container .header-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40vw;
}

.main-header-container .top-header-container .header-menu-container .header-menu-element {
  padding: 1vw;
  text-decoration: none;
  color: #23281E;
  font-size: medium;
}

.main-header-container .top-header-container .header-menu-container .header-menu-element:hover {
  cursor: pointer;
  color: #8DBD61;
}

.main-header-container .main-text-on-background-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10vw;
  padding-top: 30vh;
}

.main-header-container .main-text-on-background-container .header-main-text-on-background {
  font-size: medium;
  margin-top: 1vh;
  margin-bottom: 0vh;
  text-align: center;
}

.main-header-container .main-text-on-background-container .flower-collection-name {
  font-size: 8em;
  margin-top: 11vh;
  margin-bottom: 2vh;
}

.short-information-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.short-information-block-container .main-header-of-information-block {
  margin-top: 8vh;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}

.short-information-block-container .secondary-header-information-block {
  margin-top: 1vh;
  font-size: medium;
  font-weight: normal;
  text-transform: uppercase;
}

.short-information-block-container hr {
  margin-top: 2vh;
  width: 25vw;
  background-color: #627B54;
  height: 0.3vh;
  border-radius: 20px;
}

.short-information-block-container .information-block-container {
  margin: 12vh 0 7vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 7vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.short-information-block-container .information-block-container .information-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 25vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.short-information-block-container .information-block-container .information-img-container #email-bottom, .short-information-block-container .information-block-container .information-img-container #location-bottom, .short-information-block-container .information-block-container .information-img-container #comments-bottom {
  height: 170px;
  width: 190px;
  cursor: pointer;
}

.short-information-block-container .information-block-container .information-img-container .discription-of-information-img {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: medium;
}

.short-information-block-container .information-block-container .information-img-container .discription-of-information-img h5 {
  margin-top: 0vh;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
}

.short-information-block-container .information-block-container .information-img-container .discription-of-information-img .information-text-under-img {
  margin-top: 1vh;
  font-size: medium;
  text-align: center;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup-container .popup-body {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  position: relative;
}

.popup-container .popup-body .flower-img-decoration-container {
  position: absolute;
  z-index: 5;
  margin-top: -45vh;
}

.popup-container .popup-body .flower-img-decoration-container .flower-img-decoration {
  width: 260px;
  height: 283px;
}

.popup-container .popup-body .popup-content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  opacity: 0;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translate(0px, -300%);
          transform: translate(0px, -300%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-container .popup-body .popup-content .popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.popup-container .popup-body .popup-content .popup-title {
  font-size: 40px;
  margin: 1em 0px .5em 0px;
}

.popup-container .popup-body .popup-content .popup-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  min-width: 300px;
}

.popup-container .popup-body .popup-content .popup-text {
  font-size: medium;
  padding: 0px 150px;
  text-align: center;
}

.popup-container.popup-open {
  opacity: 1;
  visibility: visible;
}

.popup-container.popup-open .popup-content {
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
}
/*# sourceMappingURL=FlowerShopStyle.css.map */